@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<div class="container">
  <div class="jumbotron text-center">
    <h3>@Html.DisplayFor(model => model.Name)</h3>
  </div>
  <ul>
    <li>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</li>
    <li>@Html.DisplayNameFor(model => model.Gender): @Html.DisplayFor(model => model.Gender)</li>
    <li>@Html.DisplayNameFor(model => model.Breed): @Html.DisplayFor(model => model.Breed)</li>
    <li>@Html.DisplayNameFor(model => model.Date): @Html.DisplayFor(model => model.Date)</li>
  </ul>
  <p>@Html.ActionLink("Back to list", "Index")</p>
</div>